<div *ngIf="user">
    <img src="{{user.avatar}}" alt="">
    <h2>{{user.first_name}}, {{user.last_name}}</h2>
</div>

<h2>Crear usuario</h2>

<form #newUser = "ngForm" (ngSubmit)="onSubmit(newUser)">
    <p>
        <label for="nombre">nombre</label>
        <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="new_user.name">
    </p>
    <p>
        <label for="job">trabajo</label>
        <input type="text" name="job" #job="ngModel" [(ngModel)]="new_user.job">
    </p>

    <input type="submit" value="Guardar usuario">
</form>